.button-primary {
  background-color: #ff52bf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .button-primary--round {
    border-radius: 3.5rem;
    padding: 2rem 5rem; }
  .button-primary:hover, .button-primary:focus {
    background-color: #ff9edb;
    cursor: pointer; }

.button-secondary {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  background-color: white;
  border-radius: 3.5rem;
  outline: none; }
  .button-secondary:hover, .button-secondary:focus {
    border-color: #ff9edb;
    color: #ff9edb;
    cursor: pointer; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem; }
  .heading--primary {
    font-size: 5rem; }
  .heading--secondary {
    font-size: 3rem; }

.paragraph {
  font-size: 1.6rem; }

.row {
  max-width: 1440px;
  margin: 0px auto; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

.header .navbar {
  padding: 5rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header .navbar__brand {
    width: 18rem; }

.intro {
  padding: 7.5rem 0px;
  text-align: center; }
  .intro p {
    width: 35%;
    margin: 0px auto 3rem auto; }
  .intro__image {
    display: block;
    margin: 8rem auto 0px auto; }

.stats {
  margin: 5rem auto 10rem auto;
  padding: 0rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .stats-info {
    text-align: start; }
    .stats-info__icon {
      height: 2.5rem; }
    .stats-info__data {
      font-size: 7rem;
      font-weight: 700; }
    .stats-info__description {
      color: #777777;
      font-size: 2rem;
      text-align: center; }

.details {
  width: 100%;
  margin: 30rem 0rem;
  padding: 0rem 5rem;
  position: relative; }
  .details-1, .details-3 {
    background-color: #f5faff; }
    .details-1 .design-top, .details-3 .design-top {
      width: 100%;
      position: absolute;
      top: -11.45vw;
      left: 0px; }
    .details-1 .design-bottom, .details-3 .design-bottom {
      width: 100%;
      position: absolute;
      bottom: -9.65vw;
      left: 0px; }
  .details-3 .design-top {
    top: -10.83vw; }
  .details .info-arena {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center; }
    .details .info-arena--left {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
    .details .info-arena__info {
      width: 40%; }
      .details .info-arena__info h3 {
        margin-bottom: 2rem; }
      .details .info-arena__info p {
        color: #00252e; }
    .details .info-arena__image {
      width: 40%;
      padding: 0rem 5rem; }

.cta {
  text-align: center;
  margin-bottom: 20rem; }
  .cta h2 {
    margin-bottom: 2rem; }

.footer {
  background-color: #00252e;
  margin-top: 40rem;
  padding-bottom: 2rem;
  position: relative;
  color: #ffffff; }
  .footer__curve-image {
    background-image: url("../../images/bg-footer-top-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0px;
    padding-top: 10.97%;
    position: absolute;
    top: -10vw;
    left: 0px; }
  .footer .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 10rem; }
    .footer .info__company {
      width: 40%; }
      .footer .info__company__logo {
        width: 18rem;
        margin-bottom: 2rem; }
      .footer .info__company__address {
        font-size: 1.5rem;
        width: 70%;
        margin-bottom: 2rem; }
      .footer .info__company__contact {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: 1.5rem; }
        .footer .info__company__contact__icon {
          margin-right: 1rem; }
        .footer .info__company__contact__detail {
          font-size: 1.5rem; }
      .footer .info__company__social {
        margin-top: 7.5rem; }
        .footer .info__company__social i {
          font-size: 3rem; }
          .footer .info__company__social i:not(last-child) {
            margin-right: 2rem; }
        .footer .info__company__social .fa-facebook-square:hover {
          color: #4267B2;
          cursor: pointer; }
        .footer .info__company__social .fa-instagram:hover {
          color: #bc2a8d;
          cursor: pointer; }
        .footer .info__company__social .fa-twitter-square:hover {
          color: #1DA1F2;
          cursor: pointer; }
    .footer .info__newsletter {
      width: 40%; }
      .footer .info__newsletter__title {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .footer .info__newsletter__description {
        font-size: 1.5rem;
        width: 70%;
        margin-bottom: 4rem; }
      .footer .info__newsletter__subscribe {
        display: flex;
        justify-content: start; }
      .footer .info__newsletter .email-input {
        position: relative; }
        .footer .info__newsletter .email-input__input {
          height: 4rem;
          width: 25rem;
          margin-right: 3rem;
          outline: none;
          padding: 0.5rem;
          font-size: 1.5rem;
          border-radius: 5px;
          cursor: pointer;
          position: relative; }
          .footer .info__newsletter .email-input__input:invalid {
            border: 1px solid #ff4242; }
        .footer .info__newsletter .email-input__error {
          color: #ff4242;
          font-size: 1.2rem;
          position: absolute;
          bottom: 1rem;
          left: 0.4rem;
          opacity: 0;
          transition: all 0.3s ease-in-out; }
        .footer .info__newsletter .email-input .email-input__input:invalid + .email-input__error {
          bottom: -2.4rem;
          opacity: 1; }
  .footer .attribution {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem; }
    .footer .attribution a {
      color: #ff52bf;
      text-decoration: none;
      font-size: 1.8rem;
      outline: none;
      transition: all 0.5s ease-in-out; }
      .footer .attribution a:hover, .footer .attribution a:focus {
        font-size: 2.4rem; }
