.heading {
  font-family: $poppins;
  font-weight: 700;
  margin-bottom: 1rem;

  &--primary {
    font-size: 5rem;
  }

  &--secondary {
    font-size: 3rem;
  }
}

@media screen and (max-width: 540px) {
  .heading {
    &--primary {
      font-size: 3rem;
    }
  }
}